.container {
    display: flex;
    flex-direction: column;

    height: 100vh;
    max-width: 992px;
    margin: 0 auto;
    padding: 2.5rem 2rem;
}

.container > .darkModeBTN {
    position: absolute;
    top: 40px;
    left: 40px;
    
    background: transparent;
    color: var(--title);
}

.container section {
    flex: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6.25rem;
    align-items: center;
}

.container section > div:last-child {
    display: block;
    height: 100%;
    max-height: 530px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .container section {
        display: flex;
        flex-direction: column;
        margin-top: 80px;
        padding-bottom: 2.5rem;
        grid-gap: 4.25rem;
        gap: 4.25rem;
    }

    .container section > div { width: 100%; }
}