.container {
    display: flex;
    flex-direction: column;

    height: 100vh;
    max-width: 992px;
    margin: 0 auto;
    padding: 2.5rem 2rem;
}

.container .badgeStatus {
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 180px;
    padding: 5px 20px;
    margin: 0 auto 20px;
    background: #ffc14985;
    border-radius: 50px;
    font-size: 8px;
    text-transform: uppercase;
    border: 2px solid transparent;
    transition: .2s;
}

.container .badgeStatus:hover {
    border: 2px solid #ffc149d6;
    -webkit-box-shadow: 0px 0px 4px 3px #ffc149d6;
    box-shadow: 0px 0px 4px 3px #ffc149d6;
}

.container .badgeStatus i {
    font-style: normal;
    font-size: 14px;
}

.container section {
    flex: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6.25rem;
    align-items: center;
}

.container section > div:last-child {
    display: block;
    height: 100%;
    max-height: 530px;
}